 <div class="user-details">
  <h1> My Skills </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Carding</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>INBUILT STRIPE , MOHIO ,AUTO CO PRO </p>
    </div>
    <div class="tech">
      <h2>Hacking</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>BEGINNER AT ETHICAL HACKING</p>
    </div>
    <div class="tech">
      <h2>Coding</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>,HTML CSS, JAVA , NODE JS , REACT JS, PYTHON , PHP </p>
    </div>
</div>
