<div class="user-details">
  <h1> Featured Channels </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Anime Catalogue </h3>
    <ul>
  
    </ul>
    <p> Welcome to Anime Catalogue - Your Gateway to Anime Bliss! Explore handpicked anime series, movies, and trailers. Stay up-to-date with the latest releases, join discussions, and connect with fellow anime enthusiasts. Immerse yourself in quality content curated just for you. Hit 'Join' now and let the anime adventure unfold! </p>
    <a class="project-link" href="https://t.me/Anime_Catalogue">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Anime Locus  </h3>
    <ul>
    
    </ul>
    <p> Dive into the world of anime with Anime Locus!  Discover curated series, movies, and exclusive content.  Stay in the loop with timely updates and engage in vibrant discussions with our anime-loving community. Ready for the ultimate anime experience? Hit 'Join' now! </p>
    <a class="project-link" href="https://t.me/Anime_Locus">Check it out</a>
  </div>
</div>
